.container{
	width:760px;
}



#howdoesitwork ul{
  width:600px;
  margin-bottom:20px;
  overflow:hidden;
  border-top:1px solid #ccc;
}
#howdoesitwork li{
  line-height:1.5em;
  border-bottom:1px solid #ccc;
  float:left;
  display:inline;
  width:33%;
}

#downloadbutton {
	margin:15px 0;
}


.failedtable td{
	padding: 5px;
	border: 1px solid;

}